/*Style sheet.css*/


.dropdown{ /*Nav-bar-START*/
  background-color: white;
  font-size:40px;
  font-family:Georgia;
  display: inline;
  appearance: none;
}
.btn{
  background-color: inherit;
}/*Nav-bar-END*/


/*background information*/
body {
  background-color: #ffffff;
}

.container-fluid{
  background-color: #83cba5;
  height:1000px;
}
.container-fluid-head {
  padding:30px;
  padding-top: 30px;
}

.container { /*Cotainer-screen-ajustmeant-command*/
  height: 100%;
  width: 100%;
  min-height: 1000px;
  min-width: 1000px;

}


.container-inner{
  height: 100%;
  width: 100%;
  min-height: 1000px;
  min-width: 1000px;
  }


.body{ /* This is the fixed inner border = Page heading*/
  font-size:32px;
  font-family: Gotham Black;
  color: #ffffff;
  height: 1em;
  height: auto; /*if more info comes on the page, it will stretch down*/
  width: 1000px;
  margin: 0 auto; /*this will cause the div to be in the center*/
}

/* Continer-inner*/
