/*Style sheet.css*/

body{
  color:red;
}












/*background information*/

body {
  background-color: #ffffff;
}

.container { /*Cotainer-screen-ajustmeant-command*/
  height: 100%;
  width: 100%;
  min-height: 1000px;
  min-width: 1000px;

}


.container-inner{
  height: 100%;
  width: 100%;
  min-height: 1000px;
  min-width: 1000px;
  }


.body{ /* This is the fixed inner border = Page heading*/
  font-size:32px;
  font-family: Gotham Black;
  color: #ffffff;
  height: 1em;
  height: auto; /*if more info comes on the page, it will stretch down*/
  width: 1000px;
  margin: 0 auto; /*this will cause the div to be in the center*/
}

.txt_interactive_class {
  padding: 100px;
}

/* Continer-inner*/

container-inner{
padding-top: 100px;

}

container-fluid {
  background-color: #595959;

}
