/*style sheet*/
.header{/*Page-header*/
  display: inline-block;
  max-height: 60px;
  max-width: inherit;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}


.header-logo{
  margin: 15px;
  max-width: 1000px;
  height: 75px;
}
.container{
align-self: center;
border: 1px solid black;
height: 300px;
}

.heading-index-page{
  font-family: Georgia, Arial;
  text-align: center;
  font-size: 24px;
}
.par-intro{
  font-family: Arial;
}
.img-lnk-one{
    max-width: 37%;
    margin-left: 50px;
    width:inherit;
    display: inline-block;
      /*background: black url(http://www.electrictoolbox.com/images/rangitoto-3072x200.jpg) no-repeat;*/
    background-size: 100% 100%;
}
.nav-lnk{
  text-decoration:none;
  font-family:Avenir, Georgia, Arial;
  font-size:14px;
  color: black;
}
li{
  text-align: right;
  list-style-type: none;
  display: inline-block;
  margin: 0 auto 2px 25px;
}
nav{
  text-align: right;
  padding: 30px;
  padding-top: 5px;
}
